autopep8==1.5.2
cycler==0.10.0
kiwisolver==1.2.0
matplotlib==3.2.1
numpy==1.18.3
opencv-contrib-python==4.2.0.34
pycodestyle==2.5.0
pyparsing==2.4.7
python-dateutil==2.8.1
scipy==1.4.1
six==1.14.0

# All the essential libraries used in the project
